<div class="login-wrapper w3-section w3-container">
  <div class="w3-card-2 login w3-animate-opacity">
    <header class="w3-container w3-text-theme">
      <h2>Sign in</h2>
    </header>
    <form class="w3-form">
      <p class="w3-section">
        <label for="email" class="w3-label w3-text-theme">Email</label>
        <input type="email"
               id="email"
               class="w3-input w3-transparent">
      </p>
      <p class="w3-section">
        <label for="password" class="w3-label w3-text-theme">Password</label>
        <input type="password"
               id="password"
               class="w3-input w3-transparent">
      </p>
      <p class="w3-center w3-section">
        <input type="submit"
               value="Sign in"
               class="w3-btn-block w3-theme w3-ripple">
        <span class="w3-left">
          <input type="checkbox" id="remember">
          <label for="remember">Stay sign in</label>
        </span>
        <span class="w3-right">
          <a href="">Forgot password</a>
        </span>
        <span>&nbsp;</span>
      </p>
    </form>
  </div>
</div>
